/* Ini CSS */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/channels4_profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

header>h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article>p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.photo-banner {
    border: 1px solid;
    background-image: url(../assets/channels4_profile.jpg);
    background-position: center;
    background-size: cover;
    height: 480px;
}