/* Ini CSS */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/channels4_profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

header>h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000080;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo-profile {
    display: flex;
}

.logo-profile1 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/instagram.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.logo-profile2 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/whatsapp.png);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.logo-profile3 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/linkedin.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}


